 <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="/public/imgs/about.jpg" class="about-img"
                        alt="">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who We Are ?</p>
                    <h2 class="section-title mb-3">About Us</h2>
                    <p>

At Nick's Project, we are passionate web developers who specialize in creating and enhancing websites that help businesses thrive online. With a keen eye for design and a focus on user experience, we turn ideas into visually appealing and functional websites that attract and engage customers.
<br>
Whether you're starting from scratch or looking to upgrade your existing site, we bring the latest technologies and best practices to every project. Our goal is to deliver custom solutions that not only look great but also perform exceptionally, helping your business reach new heights.
<br>
Let us bring your vision to life and elevate your online presence. At Nick's Project, your success is our mission.
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4">Cantact Us</button>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->