
      <div class="container   text-center"> 
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Portfolio</h6>
       </div>     
    <!-- ====== Cards Section Start -->
    <section class=" tai-section bg-gray-2 pb-10 pt-20 lg:pb-20 lg:pt-[120px] dark:bg-dark">
      <div class="container mx-auto  text-center"> 
        <div class="-mx-4 flex flex-wrap">
          <div class="w-full px-4 md:w-1/2 xl:w-1/3">
            <div
              class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3"
            >
              <img
                src="/public/imgs/image-01.jpg"
                alt="image"
                class="w-full"
              />
              <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                <h3>
                  <a
                    href="javascript:void(0)"
                    class="mb-4 block text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] dark:text-white"
                  >
                   WordPress Portfolio
                  </a>
                </h3>
                <p
                  class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6"
                >
                You can check our WordPress website for more details.
                its can be used for any kind of small business
                </p>

                <a
                  href="https://dotcom.nickswebprojects.site"
                  class="inline-block rounded-full border border-gray-3 px-7 py-2 text-base font-medium text-body-color transition hover:border-primary hover:bg-primary hover:text-white dark:border-dark-3 dark:text-dark-6"
                >
                  Dot Com
                </a>


                                <a
                  href="https://dotinfo.nickswebprojects.site"
                  class="inline-block rounded-full border border-gray-3 px-7 py-2 text-base font-medium text-body-color transition hover:border-primary hover:bg-primary hover:text-white dark:border-dark-3 dark:text-dark-6"
                >
                  Dot Info
                </a>
              </div>
            </div>
          </div>
          <div class="w-full px-4 md:w-1/2 xl:w-1/3">
            <div
              class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3"
            >
              <img
                src="/public/imgs/image-02.jpg"
                alt="image"
                class="w-full"
              />
              <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                <h3>
                  <a
                    href="https://Store.nickswebprojects.site"
                    class="mb-4 block text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] dark:text-white"
                  >
                    The ultimate UX and UI guide to card design
                  </a>
                </h3>
                <p class="mb-7 text-base leading-relaxed text-body-color">
                    The UX and UI design with attractive feauters can act as magnet for new user
                    take a look at our react application on NextJS Framework
                    and feel smoothy 
                </p>

                <a
                  href="https://Store.nickswebprojects.site"
                  class="inline-block rounded-full border border-gray-3 px-7 py-2 text-base font-medium text-body-color transition hover:border-primary hover:bg-primary hover:text-white dark:border-dark-3 dark:text-dark-6"
                >
                  View Demo
                </a>
              </div>
            </div>
          </div>
          <div class="w-full px-4 md:w-1/2 xl:w-1/3">
            <div
              class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3"
            >
              <img
                src="/public/imgs/image-03.jpg"
                alt="image"
                class="w-full"
              />
              <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                <h3>
                  <a
                    href="javascript:void(0)"
                    class="mb-4 block text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] dark:text-white"
                  >
                    Scaleable and Secure Web Application
                  </a>
                </h3>
                <p class="mb-7 text-base leading-relaxed text-body-color">
                  Experience maximum efficiency and automation in 
                  ASP .Net web application with "MVC" design with us
                  A secure scalable app suitable for large businesses
                </p>

                <a
                  href="https://mentor.btcandbtc.xyz"
                  class="inline-block rounded-full border border-gray-3 px-7 py-2 text-base font-medium text-body-color transition hover:border-primary hover:bg-primary hover:text-white dark:border-dark-3 dark:text-dark-6"
                >
                  View Demo
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Cards Section End -->