<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-end">
          © <script>
            document.write(new Date().getFullYear())
          </script>,
          با <i class="fa fa-heart"></i> ساخته شده توسط
          <a href="https://www.Nickswebprojects.site" class="font-weight-bold" target="_blank">Nicks Web projects</a>
          برای وبی بهتر.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://www.Nickswebprojects.site" class="nav-link text-muted" target="_blank">Nicks Web projects</a>
          </li>
          <li class="nav-item">
            <a href="https://www.Nickswebprojects.site/#aboutus" class="nav-link text-muted" target="_blank">درباره ما</a>
          </li>
          <li class="nav-item">
            <a href="https://www.Nickswebprojects.site/blog" class="nav-link text-muted" target="_blank">وبلاگ</a>
          </li>
          <li class="nav-item">
            <a href="https://www.Nickswebprojects.site" class="nav-link pe-0 text-muted" target="_blank">مجوز</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
