<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 text-center mb-3 ms-auto">
        <div>
          <a href="/">
            <img src="/public/images/24.png" alt="Nick House Buyer" style="height: 100px;">
          </a>
          <h6 class="font-weight-bolder mb-4">
            Nick House Buyer
          </h6>
        </div>
        <h6 class="text-dark my-4 text-md font-weight-normal">

          Our team has helped many distressed homeowners relieve their
          emotional and financial stress,
          and our team goal is the same for you.
        </h6>
      </div>



      <div class="col-md-2 col-sm-3 col-4 mb-4 me-auto position-sticky" style="top:100px !important;">
        <div>
          <h6 class="text-sm text-dark ">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="  nav-link" href="/">
                Home
              </a>
            </li>

            <li class="nav-item">
              <a class="  nav-link" href="/aboutus">
                About Us
              </a>
            </li>

            <li class="nav-item">
              <a class="  nav-link" href="/faq">
                FAQ's
              </a>
            </li>


            <li class="nav-item">
              <a class="  nav-link" href="/contactus">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-3 col-4 mb-4 me-auto position-sticky" style="top:100px !important;">
        <div>
          <h6 class="text-dark text-sm">Blogs</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="  nav-link" href="/">
                Selling House Quickly
              </a>
            </li>

            <li class="nav-item">
              <a class="  nav-link" href="/blogs">
                calculate sell taxes
              </a>
            </li>

            <li class="nav-item">
              <a class="  nav-link" href="/blogs">
                Pre Foreclosure
              </a>
            </li>
          </ul>
        </div>
      </div>



      <div class="col-md-2 col-sm-3 col-4 mb-4 me-auto position-sticky" style="top:100px !important;">
        <div>
          <h6 class="text-dark text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class=" nav-link" style="transition: all 0.3s ease;" href="/terms-of-service">
                Terms & Conditions
              </a>
            </li>

            <li class="nav-item">
              <a class="  nav-link" href="/privacy-policy">
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            All rights reserved. Copyright ©
            <script>document.write(new Date().getFullYear())</script><a class="text-primary " href="/"> Nick House
              Buyer</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>