<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 text-center mb-3 ms-auto">
        <div>
          <a href="/">
            <img src="/public/images/24.png" alt="Nick House Buyer"
             style="height: 100px;">
          </a>
          <h6 class="font-weight-bolder mb-4">
            Nick House Buyer
          </h6>
        </div>
      </div>



      <div class="col-md-3 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm text-primary ">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="text-primary nav-link" href="/">
                Home
              </a>
            </li>

            <li class="nav-item">
              <a class="text-primary nav-link" href="/aboutus">
                About Us
              </a>
            </li>

            <li class="nav-item">
              <a class="text-primary nav-link" href="/faq">
                How It's Work
              </a>
            </li>


            <li class="nav-item">
              <a class="text-primary nav-link" href="/contactus">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-primary text-sm">Blogs</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="text-primary nav-link" href="/" target="_blank">
                Selling House Quickly
              </a>
            </li>

            <li class="nav-item">
              <a class="text-primary nav-link" href="/blogs" target="_blank">
                calculate sell taxes
              </a>
            </li>

            <li class="nav-item">
              <a class="text-primary nav-link" href="himw" target="_blank">
                Pre-Foreclosure
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Social Media</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/" target="_blank">
                Instagram <i class="fa-brands fa-instagram"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/" target="_blank">
                X (Twitter) <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/" target="_blank">
                Facebook <i class="fa-brands fa-facebook"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/" target="_blank">
                Messenger <i class="fa-brands fa-facebook-messenger  fa-beat"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
-->

      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-primary text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="text-primary nav-link" href="/terms-of-service" >
                Terms & Conditions
              </a>
            </li>

            <li class="nav-item">
              <a class="text-primary nav-link" href="/privacy-policy" >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <h6 class="text-dark my-4 text-md font-weight-normal">

            Our team has helped many distressed homeowners relieve their
            emotional and financial stress,
            and our team goal is the same for you.
          </h6>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            All rights reserved. Copyright ©
            <script>document.write(new Date().getFullYear())</script><a class="text-primary " href="/" > Nick House Buyer</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>