


<!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="#">پروژه‌های وب نیک</a>
        <ul class="nav">
            <li class="item">
                <a class="link" href="#home">خانه</a>
            </li>
            <li class="item">
                <a class="link" href="#about">درباره ما</a>
            </li>
            <li class="item">
                <a class="link" href="#portfolio">پورتفولیو</a>
            </li>
            <li class="item">
                <a class="link" href="#testmonial">نظرات</a>
            </li>
            <li class="item">
                <a class="link" href="BlogsFa">وبلاگ</a>
            </li>
            <li class="item">
                <a class="link" href="#contact">تماس با ما</a>
            </li>
            <li class="item ml-md-3">
                <a href="Contactus.html" class="btn btn-primary">استخدام من</a>
            </li>
        </ul>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>
</nav><!-- End of Page Navbar -->