    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Portfolio</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="/KrossTheme/index.html" class="portfolio-card">
                        <img src="//public/ThemePic/kross-theme.png" class="portfolio-card-img"
                            alt="Protfoli Theme">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Protfoli Theme</h5>
                                    <p class="font-weight-normal">Category: Protfoli </p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="/public/imgs/folio-2.jpg" class="img-responsive rounded"
                            alt="">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Web Designing</h5>
                                    <p class="font-weight-normal">Category: Web Templates</p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="/public/imgs/folio-3.jpg" class="img-responsive rounded"
                            alt="">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Web Designing</h5>
                                    <p class="font-weight-normal">Category: Web Templates</p>
                            </span>
                        </span>
                    </a>
                </div>
				
				
				
				
            </div><!-- end of row -->
			
			<!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img src="/public/imgs/folio-1.jpg" class="portfolio-card-img"
                            alt="">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Web Designing</h5>
                                    <p class="font-weight-normal">Category: Web Templates</p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="/public/imgs/folio-2.jpg" class="img-responsive rounded"
                            alt="">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Web Designing</h5>
                                    <p class="font-weight-normal">Category: Web Templates</p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="/public/imgs/folio-3.jpg" class="img-responsive rounded"
                            alt="">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Web Designing</h5>
                                    <p class="font-weight-normal">Category: Web Templates</p>
                            </span>
                        </span>
                    </a>
                </div>
				
				
				
				
            </div><!-- end of row -->
			
			
			
			
			
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->