<!-- -------- START Content Presentation Docs ------- -->
{{!-- <div class="container py-5 mt-sm-5">
 <h2 class="mb-0 font-weight-bolder center">How to Sell House Fast with Nick House Buyer</h2>
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('/public/images/howorkbanner.png');">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ms-lg-5">
       {{> __minicashform}}
      </div>
    </div>
  </div>
</div> --}}

  <div class="container">
    <div class="row">
        <div class="text-center btn bg-gradient-primary  mb-3 col-lg-6 mx-auto">
  
          <h2 class="px-xxl-1 my-sm-2 mx-auto py-2">How to Sell House Fast with Nick House Buyer</h2>
        </div>
    </div>
</div>



<div class="container py-2 mt-sm-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="info-horizontal bg-gradient-dark border-radius-xl d-block d-md-flex p-4">
 <div class="di">
  <img 
    src="/assets/khoshame/pay-per-click(1).png" class="fa-beat"
  >
</div>

        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5 class="text-white">Start with a Simple Click</h5>
          <p class="text-white">
              Ready to sell your house fast? Click the button below to begin. 
              Enter your property address, confirm a few basic details,
              and tell us about its current condition, including any necessary repairs.</p>
          <br><a href="/fastSell" class="text-white icon-move-right">
            Let's start
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
<div class="di">
  <img 
    src="/assets/khoshame/email.png" class="fa-beat"
  >
</div>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Receive a Competitive Cash Offer</h5>
          <p>
            Using advanced algorithms, we analyze your property’s information, including recent comparable 
            sales in your area, to present you with a fair, no-obligation cash offer.
            We account for repair and remodeling costs, so there are no surprises.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4">
<div class="di">
  <img 
    src="/assets/khoshame/payment-method.png" class="fa-beat"
  >
</div>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Relax While We Handle the Rest</h5>
          <p>After accepting our offer, we take care of everything—from paperwork to logistics.
              Choose a closing date that fits your schedule,
              and we’ll ensure the entire process is seamless
              and stress-free. No hidden fees, no hassle, just a straightforward sale.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------- END Content Presentation Docs ------- -->