    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What We Do ?</p>
            <h6 class="section-title mb-6">Service</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="/public/imgs/pencil-case.svg"
								alt="Nick's Web Desgin" 
								class="icon">
                            <h6 class="title">Web Design</h6>
                            <p class="subtitle">We create visually appealing and user-friendly web designs that reflect your brand and engage visitors. </p>
						</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="/public/imgs/responsive.svg"
                                alt="Nick's Web Developers"
                                class="icon">
                            <h6 class="title">Web Development</h6>
                            <p class="subtitle">We build robust, high-performance websites with the latest technologies to ensure a seamless user experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="/public/imgs/toolbox.svg"
                                alt="Nick's Web Optimize"
                                class="icon">
                            <h6 class="title">Web Optimaizement</h6>
                            <p class="subtitle">We optimize websites for speed, performance, and search engine ranking, ensuring your site reaches its full potential.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="/public/imgs/analytics.svg"
                                alt="Nick's Security Development"
                                class="icon">
                            <h6 class="title">Security Development</h6>
                            <p class="subtitle">We implement advanced security measures to protect your website from threats and ensure your data stays safe.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->