    <div class="col-md-6">
        <div class=" border  shadow-0 mb-3 glass-card" style="width: 100%;">
          <div class="card-body rounded-4 text-light px-5 pt-4 pb-2">
            <form id="Preview-form" action="/api/preview-form" method="POST" class="text-center" novalidate>
              <input type="hidden" name="lang" value="en" />
              <!-- Section 1: Basic Information -->
              <div id="section-1" class="form-section">
                <h4 class="text-secondary">Basic Information</h4>
                <br><br>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="FullName" type="text" id="name" class=" text-secondary form-control" required />
                      <label class="form-label" for="name">Full Name</label>
                    </div>
                  </div>
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="Email" type="email" id="email" class=" text-secondary form-control" required />
                      <label class="form-label" for="email">Email Address</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="PhoneNumber" type="tel" id="number" class=" text-secondary form-control" required />
                      <label class="form-label" for="number">Phone Number</label>
                    </div>
                  </div>
                </div>
                <div class="text-center bg-transparent">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(2)">Submit</button>
                </div>
              </div>

              <!-- Section 9: Additional Information -->
              <div id="section-9" class="form-section hidden-section">
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <textarea class=" text-secondary form-control" id="additionalInfo" name="SpecificRequests"
                      rows="4"></textarea>
                    <label class="form-label">Do you have any specific requests or expectations?</label>
                  </div>
                </div>
                <!-- Terms of Service Checkbox -->
                <div class="mb-4">
                  <div class="form-check text-center">
                    <input class="form-check-input" type="checkbox" name="tos" id="termsCheck" required />
                    <label class="form-check-label" for="termsCheck">
                      I agree to the <a href="/terms-of-service" target="_blank">Terms of Service</a>
                    </label>
                  </div>
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

              <!-- Section 10: Response Message -->
              <div id="section-10" class="form-section hidden-section">
                <div class="mb-4">
                  <div>
                    <p id="responseMessage"></p>
                  </div>
                </div>
                <div class="text-center">
                  <a href="/" type="button" class="btn btn-primary">Home</a>
                  <a href="/blogs" type="button" class="btn btn-primary">Our Blogs</a>
                </div>
              </div>

            </form>




          </div>

        </div>
      </div>
 

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

