<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Nicks Web projects.">
    <meta name="author" content="Nick">
    <title>{{title}}</title>
    <!-- font icons -->
    <link rel="stylesheet" href="/public/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/public/css/tailwindorg.css" />
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="/public/css/meyawo.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
   



     {{{body}}}





    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright
                <script>document.write(new Date().getFullYear())</script>
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="/public/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/public/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="/public/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="/public/js/meyawo.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Define a function to load the form with AJAX
  function loadForm() {
    $.ajax({
      url: '/load-form',       // Call the route we defined for the form
      method: 'GET',
      success: function(response) {
        $('.content-section').html(response);  // Insert the form HTML into #content-section
      },
      error: function(error) {
        console.error('Error loading form:', error);
      }
    });
  }

  // Attach the loadForm function to the "Preview" button
  $('#preview-button').click(loadForm);
</script>
</body>

</html>