
    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="../">Nick's Web Projects</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="../">Home</a>
                </li>
                
                <li class="item ml-md-3">
                    <a href="/Contactus" class="btn btn-primary">Hire me</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->




    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Contact Us</span>
                   </h1>
         <p class="header-subtitle">Feel Free to Contact Us</p>
        <div>{{> contactus}}</div>
        
        </div>
    </header><!-- end of page header -->


