
</head>

<body class="index-page bg-gray-300">
  


{{> __navbar}}
{{> __header}}

{{> __about}}

{{> __counter}}

{{> __divider}}

{{> __aboutus}}

{{> __blogs}}

{{> __intro}}
</div>
{{> __social}}
<br><br><br>
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
{{> __present}}

    <!--
{{> __testimonials}}


{{> __withus}}
-->

    {{> __footer}}