</head>

<body class="index-page bg-gray-300">



    {{> __navbar}}

    {{> __header}}

    {{> __present}}

    {{> __about}}

    {{> __counter}}

    {{!-- {{> __divider}} --}}

    {{> __aboutus}}

    {{> __blogs}}

    {{> __intro}}

    {{> __faq}}

    {{> __footer}}
    </div>