<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>Cash Buyer Registration Form - Find High-Quality Real Estate Investment Deals</title>
  <meta name="description"
    content="Register as a cash buyer with Nick's Real Estate Services to access high-quality investment properties. Tailor your buying criteria and discover profitable real estate deals today.">
  <meta name="keywords"
    content="cash buyer form, real estate deals, investment properties, wholesale real estate, buy investment properties, real estate buyers, high ROI real estate">
  <meta name="author" content="Nick's Real Estate Services">
  <meta name="robots" content="index, follow">
  <!-- MDB -->
  <link rel="stylesheet" href="/public/css/mdb.min.css" />
  <link rel="stylesheet" href="/assets/css/cs.css">
</head>

<body>
  <section id="bg">
    <div class="container py-5">
      <div class="row d-flex align-items-center justify-content-center">
        <h2 class="text-center text-dark-emphasis">Nick's Cash Buyer Form</h2>
        <p class="text-dark  text-center">We ensure you receive high-quality properties tailored to your criteria.</p>

        <div class="col-md-6">
          <div class=" border  shadow-0 mb-3 glass-card" style="width: 100%;">
            <div class="card-body rounded-4 text-light px-5 pt-4 pb-2">


{{> __cash}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!--   Core JS Files   -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/assets/js/cb.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>